<div class="text-center">
  <h1 style="font-size: 4rem;">Anwar's blog.</h1>
  <h3>Hello guys! glad to see you here!</h3>
</div>
<h3><%= link_to "Entradas del blog", posts_path, class: "mt-4" %></h3>
<%= link_to "Login", new_user_session_path, class: "nav-link" %>
<% if user_signed_in? %>
    <%= link_to "Categorías" ,categories_path %>
<% end %>
