<h1><%= @category.name %></h1>
<h3>Posts of this category</h3>
<ul>
  <% @category.posts.each do |post|%>
  <li><%= link_to post.title, post_path(post) %></li>
  <% end %>
</ul>
<%= link_to 'Borrar categoría', category_path(@category),
                                method: :delete,
                                data: { confirm: "Estás seguro que quieres eliminar esta categoría?" } %>
